{% extends "admin/change_form.html" %}

<!-- TODO: This extends object-tools for add form too; Duplicate ids -->
{% block object-tools %}
{% if True %}{% if not is_popup %}
  {% block object-tools-items %}
    {% if add %}
    <ul class="object-tools">
      <li>
      <a href="#" class="historylink" name="compute_depreciation" id="compute_depreciation">Compute Depreciation</a>
    </li>
    </ul>
    {% elif change %}
    <ul class="object-tools">
      <li>
      <a href="#" class="historylink" name="compute_depreciation" id="compute_depreciation">Compute Depreciation</a>
    </li>
      {{ block.super }}
    </ul>
    {% endif %}
  {% endblock object-tools-items %}
{% endif %}{% endif %}
{% endblock object-tools %}

